NotificationReceiver/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerOutputs()?['body']?['contentData']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "companyId": {
                                "type": "string"
                            },
                            "eventType": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "APIM": {
                "type": "Http",
                "inputs": {
                    "method": "POST",
                    "uri": "https://blueprintapi.azure-api.net/sp/create",
                    "headers": {
                        "accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    "body": "@body('Parse_JSON')"
                },
                "runAfter": {
                    "OKTA_ACCESS_TOKEN": [
                        "Succeeded"
                    ]
                }
            },
            "OKTA_ACCESS_TOKEN": {
                "type": "Http",
                "inputs": {
                    "method": "POST",
                    "uri": "@parameters('OKTA_TOKEN_URL')",
                    "headers": {
                        "accept": "application/json",
                        "content-type": "application/x-www-form-urlencoded",
                        "cache-control": "no-cache",
                        "Authorization": "Basic base64(@{parameters('OKTA_USER')}:@{parameters('OKTA_PASSWORD')})"
                    },
                    "body": "'{\"grant_type\":\"client_credentials\"}'",
                    "authentication": {
                        "type": "Basic",
                        "username": "@parameters('OKTA_USER')",
                        "password": "@parameters('OKTA_PASSWORD')"
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "@parameters('TOPIC_NAME')",
                        "subscriptionName": "logicapp",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}