NotificationReceiver/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "APIM": {
                "inputs": {
                    "body": "@body('Parse_JSON')",
                    "headers": {
                        "Content-Type": "application/json",
                        "accept": "application/json"
                    },
                    "method": "POST",
                    "uri": "https://blueprintapi.azure-api.net/sp/create"
                },
                "runAfter": {
                    "OKTA_ACCESS_TOKEN": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_Okta_Code_in_Base_64": {
                "inputs": {
                    "variables": [
                        {
                            "name": "authCodeBase64",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "oktaAuthCode",
                            "type": "string",
                            "value": "@{appsetting('OKTA-CLIENT-ID')}:@{appsetting('OKTA-CLIENT-SECRET')}"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "OKTA_ACCESS_TOKEN": {
                "inputs": {
                    "body": "'{\"grant_type\":\"client_credentials\"}'",
                    "headers": {
                        "Authorization": "Basic @{variables('authCodeBase64')}",
                        "accept": "application/json",
                        "cache-control": "no-cache",
                        "content-type": "application/x-www-form-urlencoded"
                    },
                    "method": "POST",
                    "queries": {
                        "grant_type": "client_credentials"
                    },
                    "uri": "@parameters('OKTA_TOKEN_URL')"
                },
                "runAfter": {
                    "Set_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@triggerOutputs()?['body']?['contentData']",
                    "schema": {
                        "properties": {
                            "companyId": {
                                "type": "string"
                            },
                            "eventType": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {},
                "type": "ParseJson"
            },
            "Set_variable": {
                "inputs": {
                    "name": "authCodeBase64",
                    "value": "@{base64(variables('oktaAuthCode'))}"
                },
                "runAfter": {
                    "Initialize_Okta_Code_in_Base_64": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription": {
                "inputs": {
                    "parameters": {
                        "isSessionsEnabled": false,
                        "subscriptionName": "logicapp",
                        "topicName": "@parameters('TOPIC_NAME')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']",
                "type": "ServiceProvider"
            }
        }
    },
    "kind": "Stateful"
}