NotificationReceiver/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "APIM": {
                "type": "Http",
                "inputs": {
                    "method": "POST",
                    "uri": "https://blueprintapi.azure-api.net/sp/create",
                    "headers": {
                        "Content-Type": "application/json",
                        "accept": "application/json"
                    },
                    "body": "@body('Parse_JSON')"
                },
                "runAfter": {
                    "OKTA_ACCESS_TOKEN": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_Okta_Code_in_Base_64": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "authCodeBase64",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "oktaAuthCode",
                            "type": "string",
                            "value": "@{appsetting('OKTA-CLIENT-ID')}:@{appsetting('OKTA-CLIENT-SECRET')}"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "OKTA_ACCESS_TOKEN": {
                "type": "Http",
                "inputs": {
                    "method": "POST",
                    "uri": "@parameters('OKTA_TOKEN_URL')",
                    "headers": {
                        "Authorization": "Basic @{variables('authCodeBase64')}",
                        "accept": "application/json",
                        "cache-control": "no-cache",
                        "content-type": "application/x-www-form-urlencoded"
                    },
                    "queries": {
                        "grant_type": "client_credentials"
                    },
                    "body": "'{\"grant_type\":\"client_credentials\"}'"
                },
                "runAfter": {
                    "Set_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerOutputs()?['body']?['contentData']",
                    "schema": {
                        "properties": {
                            "companyId": {
                                "type": "string"
                            },
                            "eventType": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {}
            },
            "Set_variable": {
                "type": "SetVariable",
                "inputs": {
                    "name": "authCodeBase64",
                    "value": "@{base64(variables('oktaAuthCode'))}"
                },
                "runAfter": {
                    "Initialize_Okta_Code_in_Base_64": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "@parameters('TOPIC_NAME')",
                        "subscriptionName": "logicapp",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveTopicMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}